@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600&family=Roboto:ital@0;1&family=Work+Sans&display=swap');

/* utilities */
* {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1100px;
    margin: auto;
}

/* Navbar design */
.navbar {
    display: flex;
    justify-content: space-between;
}

.brand-name {
    color: #3A3A3A;
    font-size: 24px;

}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list li {
    margin-left: 5px;
}

/* end navbar style */

/* start banner-design */

.banner-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
}

.banner-head-title {
    width: 600px;
}

.head-title {
    color: #3A3A3A;
    font-weight: 700px;
    font-size: 40px;
}

.head-info {
    color: #3A3A3A;

}

.btn-primary {
    background-color: #E02C6D;
    color: #FFF;
    padding: 10px;
    border-radius: 10px 24px;
    border: 0;
    margin-right: 3px;

}

.btn-primary:hover {
    background-color: #c8054c;
}

/* end banner design */

/* brand area design */
.brand-area {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    border-top: 1px solid rgb(229, 221, 221);
    border-bottom: 1px solid rgb(229, 221, 221);
}

/* start product design */
.section-header {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 35px;
    color: #3A3A3A;
    ;
}

.cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 15px;
}

.card {
    width: 300px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: 0;

}

.card img {
    width: 100%;

}

.card-details {
    padding: 50px;
    margin-top: 0;
}

.product-name {
    font-weight: 500;
    font-size: 28px;
}

.price {
    font-weight: 400;
    font-size: 24px;
}

.ratings {
    display: flex;
    justify-content: start;
    align-items: center;
}

.fa-star {
    color: #FB8200;
}

.fa-star-half-stroke {
    color: #FB8200;
}

.product-detail {
    color: #787885;
    font-weight: 700;
    font-size: 14px;
}

.see-more {
    margin-top: 40px;
    color: #E02C6D;
    text-align: right;
}